<link rel="apple-touch-icon" href="/static/img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#cef6da">
<meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png">
<meta name="theme-color" content="#005e22">