---
layout: layouts/base.njk
section: devs
body_class: "profile"
javascript:
  head:
    - /static/js/indieconfig.js
    - /static/js/webaction.js
  body:
    - /static/js/sharing.js
---

<div class="profile">
    <div class="profile__searching"><span class="profile__searching-as">Protege</span> Seeking <span class="profile__searching-for">Mentor</span></div>
  <a class="profile__name" href="#" target="_blank">Taurean Bryant</a>
  <div class="profile__pronoun">He/Him/His</div>
 
  
  <div class="profile__statement">Human languages </div>
  <ul class="profile__tag-list">
    <li class="profile__tag profile__tag--hu_lang">English</li>
    <li class="profile__tag profile__tag--hu_lang">language</li>
    <li class="profile__tag profile__tag--hu_lang">language</li>
  </ul>
  
  <div class="profile__statement">Machines languages</div>
  <ul class="profile__tag-list">
    <li class="profile__tag profile__tag--cp_lang">CSS</li>
    <li class="profile__tag profile__tag--cp_lang">SCSS</li>
    <li class="profile__tag profile__tag--cp_lang">HTML</li>
  </ul>
  
  <div class="profile__statement">Areas of focus</div>
  <ul class="profile__tag-list">
    <li class="profile__tag profile__tag--subject">Accessibility</li>
    <li class="profile__tag profile__tag--subject">Design Systems</li>
    <li class="profile__tag profile__tag--subject">Front-end Web Development</li>
  </ul>
  
  <ul class="profile__social-list">
    <li><a href="#" target="_blank"><i class="icon">codepen logo</i><span class="screenreader-only">Codepen</span></a></li>
    <li><a href="#" target="_blank"><i class="icon">twitter logo</i><span class="screenreader-only">Twitter</span></a></li>
    <li><a href="#" target="_blank"><i class="icon">github logo</i><span class="screenreader-only">Github</span></a></li>
  </ul>
</div>