<p>
  <small>Devs of Colour is <a href="{{ '/about' | url }}">run by a bunch of awesome people</a> who ❤️ the web!</small>
  <small id="copyright">This site’s contents are available under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Its source code is freely shared under the <a href="https://raw.githubusercontent.com/tatianamac/devsofcolour/master/LICENSE">MIT license</a>.</small>
  <small>Edits welcome on <a href="{{ pkg.repository.url }}">GitHub</a>. Hosted on <a href="https://www.netlify.com/">Netlify</a>.</small>
  <small>You can also <a href="https://twitter.com/devsofcolour" rel="me">follow us on Twitter</a> for more.</small>
</p>
