<nav>
  <ul>
  {% set current_directory = page.url | getDirectory %}
  {% for nav in collections.nav | sort(attribute="date") %}
    {% set nav_directory = nav.url | getDirectory %}
    <li>
      <a href="{{ nav.url | url }}"{% if current_directory == nav_directory %} aria-current="page"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
