---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - nav
    - all
    - wants
    - posts
    - tags
  addAllPagesToCollections: true
layout: layouts/base.njk
renderData:
  title: Devs Tagged “{{ tag | unslug | fixNames }}”
permalink: /devs/tagged/{{ tag }}/
---

<h1>Tagged “{{ tag | unslug | fixNames }}”</h1>

{% set devs = collections[ tag ] %}
{% include "components/devs.njk" %}